<div class="row">
  <div class="col-auto">
    <h2>{{name}} Blog Dashboard</h2>
  </div>
</div>

<div class="row mt-4">
    <div class="col-md-6">
        <h3>Add a New Blog Post:</h3>

        <form class="form new-blog-form">
        <div class="form">
                <label for="title">Title:</label>
                <input class="input" type="text" id="title" name="title" required><br>
        </div>  
        <div class="form">
                <label for="content">Content:</label><br>
                <textarea class="input" id="content" name="content" required></textarea><br>
        </div>
        <div class="form">
                <button type="submit" class="btn btn-primary">Publish</button>
        </div>
        </form>
    </div>

    {{#if blogs.length}}
    <div class="col-md-6 blog-list">
        <h3>Existing Blog Posts:</h3>

        {{#each blogs as |blog|}}
        <div class="row mb-2">
            <div class="col-md-8">
                <h4><a href="/blog/{{blog.id}}">{{blog.name}}</a></h4>
            </div>
            <div class="col-md-4">
                <button class="btn btn-sm btn-danger" data-id="{{blog.id}}">DELETE</button>
            </div>
        </div>
        {{/each}}
    </div>
    {{/if}}
</div>

<script src="./js/dashboard.js"></script>